<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Reset</title>
  </head>
  <body
    style="
      background-color: #f7fafc;
      font-family: sans-serif;
      text-align: center;
    "
  >
    <div
      style="
        max-width: 28rem;
        margin: 2.5rem auto;
        background-color: #ffffff;
        padding: 1.5rem;
        border-radius: 0.5rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      "
    >
      <div style="text-align: center">
        <img
          src="https://tailwebs-fronted.vercel.app/images/tailwebsLogo.png"
          alt="Company Logo"
          style="margin: 0 auto 1rem auto; width: 9rem"
        />
      </div>

      <h2
        style="
          font-size: 1.5rem;
          font-weight: bold;
          color: #1a202c;

          margin-bottom: 1.5rem;
        "
      >
        Password Reset Request
      </h2>

      <p style="color: #4a5568; margin-bottom: 1.5rem">
        Hi <strong>{{firstName}}</strong>,
      </p>
      <p style="color: #4a5568; margin-bottom: 1.5rem">
        We received a request to reset your password. Click the button below to
        reset your password:
      </p>

      <div style="margin-bottom: 2rem">
        <a
          href="{{resetLink}}"
          style="
            background-color: #3b82f6;
            color: #ffffff;
            font-weight: bold;
            padding: 0.5rem 1rem;
            border-radius: 0.25rem;
            display: inline-block;
            text-decoration: none;
          "
          >Reset Password</a
        >
      </div>

      <p style="color: #4a5568; margin-bottom: 1.5rem">
        If you didn't request a password reset, please ignore this email. Your
        password won't be changed.
      </p>

      <p style="color: #4a5568">
        Thanks,<br />
        The Tailwebs Team
      </p>
      <footer style="color: #718096; margin-top: 2.5rem">
        <p>&copy; 2024 Tailwebs. All rights reserved.</p>
      </footer>
    </div>
  </body>
</html>
